body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: red;
    color: white;
    padding: 1em;
}
main {
    padding: 20px;
}